:root {
    --primary-color: #144389;
    --secondary-color: #1B3172;
    --accent1-color: 206, 213, 227; /*#CED5E3;*/
    --accent2-color: 28, 63, 128; /*#1C3F80; */

    --heading-font: "Oswald", arial;
    --paragraph-font: "Open Sans", sans-serif;

    --nav-background-color: #CED5E3;
    --nav-link-color: #1C3F80;
    --nav-hover-link-color: #fff;
    --nav-hover-background-color: #1C3F80;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--paragraph-font);
    max-width: 100%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 0;
}

header {
    background-color: var(--accent1-color);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

header img {
    margin: 1rem auto;
    width: 124px;
    height: auto;
}
nav {
    font-size: 1rem;
    text-align: right;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

section h2 {
    text-align: center;
    padding: 1rem;
}

footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

footer p {
    text-align: center;
    align-self: center;
    justify-self: center;
    margin: 0;
}
/* .hero {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 13rem;
}

.hero h1 {
    font-family:sans-serif;
    color: #000;
    position: absolute;
    border: 20rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #bfd8bd;
}


.hero article {
    position: absolute;
    background-color: #a2d2ff;
    padding: 1rem;
}
.hero article img {
    width: 200px;
    height: var(--height);
    padding: 2px;
    float: right;

} */