:root{
    --heding-background-color: #CFCFCD; 
    --heading-text-color: #000;
    --heading-font-color: #BFD8BD;
    --padding: 1rem;
    --border: 1px solid #FEFAE0; 
}

.hero {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}


article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}
.hero article img {
    float: right;
    margin-left: 10px;
}