* {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: #bfd8bd;
    background-color: #f8f6e9;
    --secondary-color: #a2d2ff;
    --accent1-color: #fefae0;
    --accent2-color: #cfcfcd;

    --heading-font: "Readex pro", sans-serif;
    --paragraph-font: "Amirir", sans-serif;

.logo_box {  
    width: 200px;
    float: right;
}

.links {
    width: 100px
}
    
head{
   font-weight: 200PX;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f8f6e9;
}

.container {  
    text-align:center 

}

header{
    background-color: #f8f6e9;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    border-bottom: 3px black;
}

nav{
    background-color: lightblue;
    height: 100px;
    border-bottom: 1px solid black;
}

/* .nav a li { */
    float: left;
    list-style: none;
    margin: 50px;
    line-height: 100px;
    }

.clearfix{
    clear: both;
}

/* .content { */ */
    float: left;
    width: 40%;
    /* height:100%; */
    /* background-color: #bfd8bd; */
    /* min-height: 10px; */


/* .article { */
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.article h2{
    font-size: 25px;
}

footer{
    /* background-color: #a2d2ff; */
    color: black;
    text-align: center;
    /* height: 10px; */ 
    line-height: 50px;
}

p {
    padding: 0;
}
    
/* .nav a img{ */
width: 50px;
height: 10%;
margin: 5px;;
size: 1cm;
float:left;
}

